.login {
    display: grid;
    place-items: center;
    height: 100vh;
}
.login > div > img{
    object-fit: contain;
    height: 140px;
}
.login > div {
    display: flex;
    flex-direction: column;
}
.login > button{
    width: 300px;
    cursor: pointer;
    font-weight: 800;
    background-color: #2e81f4 ;
    color: #eff2f5;
}
.login > button:hover{
    background-color: #4a93fa !important;
    color: #eff2f5;
}